numpy
pandas
scipy
matplotlib
plotly
seaborn
ta
backtrader
vectorbt
backtesting
scikit-learn
yfinance
pandas-datareader
ccxt
streamlit
streamlit-option-menu
streamlit-autorefresh
tqdm
joblib
python-dotenv
jupyter
notebook