numpy
pandas
scipy
matplotlib
plotly
seaborn
ta
backtrader
vectorbt
backtesting
scikit-learn
yfinance
pandas-datareader
ccxt
streamlit>=1.23.0
altair
streamlit-option-menu
streamlit-autorefresh
tqdm
joblib
python-dotenv